.rakuteam_venv
*.pyc
*.pyc
Streamlit_rakuten/__pycache__/app1.cpython-38.pyc
Streamlit_rakuten/__pycache__/app2.cpython-38.pyc
Streamlit_rakuten/__pycache__/app3.cpython-38.pyc
Streamlit_rakuten/__pycache__/app4.cpython-38.pyc
